db/
greybox_tmp/
incremental_db/
output_files/
simulation/

Unidade-de-Memoria/db/
Unidade-de-Memoria/greybox_tmp/
Unidade-de-Memoria/incremental_db/
Unidade-de-Memoria/output_files/
Unidade-de-Memoria/simulation/


ULA/db/
ULA/greybox_tmp/
ULA/incremental_db/
ULA/output_files/
ULA/simulation/

Registrador-Saida/db/
Registrador-Saida/greybox_tmp/
Registrador-Saida/incremental_db/
Registrador-Saida/output_files/
Registrador-Saida/simulation/

Registrador-Instrucoes/db/
Registrador-Instrucoes/greybox_tmp/
Registrador-Instrucoes/incremental_db/
Registrador-Instrucoes/output_files/
Registrador-Instrucoes/simulation/

Contador-Programa/db/
Contador-Programa/greybox_tmp/
Contador-Programa/incremental_db/
Contador-Programa/output_files/
Contador-Programa/simulation/